body {
    font-family: sans-serif;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-image: url(/static/wp2227193-dungeons-dragons-wallpapers.jpg); */
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}

.name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 50px;
    min-width: 250px;
}

#headerStats {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    flex: 1;
}

#hp {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

#headerBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.stats-grid>div {
    background-image: url(/static/borderCarac.png);
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 120px;
}

#skillSection {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#actionSection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

#spellsSection {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
}

#skillGrid {
    display: flex;
    flex-direction: column;
}

#skillGrid>div {
    background-image: url(/static/borderSkill.png);
    flex-direction: row;
    padding-left: 20px;
    padding-right: 5%;
    max-width: 300px;
}

.bg-border {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    padding: 10px;
    margin-top: 10px;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.square-border {
    background-image: url(/static/borderBonus.png);
    width: 100px;
    height: 80px;
}

#ac {
    background-image: url(/static/borderCA.png);
    width: 70px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

input {
    margin: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
}

/* Desktop view: show all sections, hide tabs */
.tabs {
    display: none;
    margin-bottom: 10px;
}

section {
    display: block;
    padding: 20px;
    border-image-source: url(/static/borderEmpty.png);
    border-image-slice: 33% fill;
    border-image-width: 100px 50px;
    border-image-outset: 5px;
    margin: 10px;
    background-image: radial-gradient(farthest-corner, white, #ffffff1c);
}

h2 {
    margin-block: 0px;
}

h3 {
    margin-block: 5px;
}

h4 {
    margin-block: 5px;
}

/* tablet */
@media (max-width: 1280px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }

    #header {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        flex-direction: row;
    }

    .name {
        margin-bottom: unset;
        margin-right: 50px;
    }

    #skillSection {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }

    #actionSection {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
}

/* Mobile view: use tabs */
@media (max-width: 700px) {

    body {
        display: block;
    }

    #header {
        flex-direction: column;
    }

    .name {
        margin-bottom: 50px;
        margin-right: unset;
    }

    /* tabs are visible */
    .tabs {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        border-bottom: 2px solid #444;
    }

    .tabs button {
        flex: 1;
        padding: 10px;
        font-size: 1rem;
        background: #eee;
        border: none;
        border-radius: 5px 5px 0 0;
    }

    /* hide all sections by default */
    section {
        display: none;
    }

    /* show active section */
    section.active {
        display: block;
        padding-top: 10px;
    }
}

/* stat name */
.stat-name {
    font-weight: bold;
    margin-top: 5px;
    font-size: 1em;
}

/* modifier field */
.stat-mod {
    /* width: 50px; */
    /* text-align: center; */
    font-size: 2.2em;
    margin-bottom: 4px;
}

/* base value */
.stat-base {
    width: 50px;
    text-align: center;
    margin-bottom: 3px;
}

input[readonly] {
    background: #f5f5f5;
    color: #333;
    cursor: default;
}

input[type="checkbox"]{
  accent-color: rgb(255, 0, 0);
}

.attack-row {
    display: flex;
}

.attack-header {
    flex: 1;
    padding: 10px;
}