<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <section id="header">
    <div class="name">
      <h1 id="charName">Loading...</h1>
      <div id="raceLine"></div>
      <div id="classLine"></div>
      <div id="bgLine"></div>
    </div>

    <div id="headerStats">
      <div id="toggleCombatBtn" class="bg-border square-border">
        <div class="stat-name">Initiative</div>
        <div id="initiativeBox" class="stat-mod">—</div>
      </div>

      <div id="ac" class="bg-border">
        <div class="stat-name">AC</div>
        <div id="armorClassBox" class="stat-mod">—</div>
      </div>

      <div id="conditionsBtn" class="bg-border square-border">
        <div class="stat-name">Conditions</div>
        <div id="appliedConditions">-</div>
      </div>
      <!-- <button id="conditionsBtn">Edit</button> -->
      <dialog id="conditionsDialog">
        <form id="conditionsInput" method="dialog">
          <label>Blinded
            <input type="checkbox" id="blinded" name="blinded" />
          </label>
          <label>Charmed
            <input type="checkbox" id="charmed" name="charmed" />
          </label>
          <label>Deafened
            <input type="checkbox" id="deafened" name="deafened" />
          </label>
          <label>Exhaustion
            <input type="checkbox" id="exhaustion" name="exhaustion" />
          </label>
          <label>Frightened
            <input type="checkbox" id="frightened" name="frightened" />
          </label>
          <label>Grappled
            <input type="checkbox" id="grappled" name="grappled" />
          </label>
          <label>Incapacitated
            <input type="checkbox" id="incapacitated" name="incapacitated" />
          </label>
          <label>Invisible
            <input type="checkbox" id="invisible" name="invisible" />
          </label>
          <label>Paralyzed
            <input type="checkbox" id="paralyzed" name="paralyzed" />
          </label>
          <label>Petrified
            <input type="checkbox" id="petrified" name="petrified" />
          </label>
          <label>Poisoned
            <input type="checkbox" id="poisoned" name="poisoned" />
          </label>
          <label>Prone
            <input type="checkbox" id="prone" name="prone" />
          </label>
          <label>Restrained
            <input type="checkbox" id="restrained" name="restrained" />
          </label>
          <label>Stunned
            <input type="checkbox" id="stunned" name="stunned" />
          </label>
          <label>Unconscious
            <input type="checkbox" id="unconscious" name="unconscious" />
          </label>
          <button formmethod="dialog" value="">Cancel</button>
          <button formmethod="dialog" value="submit">Submit</button>
        </form>
      </dialog>

      <div id="hp" class="bg-border square-border">
        <div class="stat-name">Hit Points</div>
        <div id="hpBox" class="stat-mod">—</div>
      </div>
      <dialog id="hpDialog">
        <form id="hpInput">
          <label>HP:
            <input id="healthPoints" type="number" name="healthPoints" value="0" />
          </label>
          <button formmethod="dialog" value="heal">Heal</button>
          <label>Damage type taken:
            <select name="damageType" id="damageType">
              <option value="acid">Acid</option>
              <option value="bludgeoning">Bludgeoning</option>
              <option value="cold">Cold</option>
              <option value="fire">Fire</option>
              <option value="force">Force</option>
              <option value="lightning">Lightning</option>
              <option value="necrotic">Necrotic</option>
              <option value="piercing">Piercing</option>
              <option value="poison">Poison</option>
              <option value="psychic">Psychic</option>
              <option value="radiant">Radiant</option>
              <option value="slashing">Slashing</option>
              <option value="thunder">Thunder</option>
            </select>
          </label>
          <button formmethod="dialog" value="damage">Damage</button>
          <button formmethod="dialog" value="">Cancel</button>
        </form>
      </dialog>

      <div id="headerBtns">
        <button id="startTurnBtn" class="small">Start Your Turn</button>
        <button id="restBtn" class="small">Rest</button>
        <dialog id="restDialog">
          <form id="restInput">
            <label>Hit Dice</label>
            <button formmethod="dialog" value="">Cancel</button>
            <button formmethod="dialog" value="shortRest">Short Rest</button>
            <button formmethod="dialog" value="longRest">Long Rest</button>
          </form>
        </dialog>
      </div>
    </div>
  </section>

  <div class="tabs">
    <button data-tab="stats">Stats</button>
    <button data-tab="savingThrow">Saves</button>
    <button data-tab="skill">Skills</button>
    <button data-tab="action">Actions</button>
  </div>

  <section id="statsSection">
    <h2>Abilities</h2>
    <div class="stats-grid" id="statsGrid">
      <div name="STR" class="bg-border">
        <div class="stat-name">Strength</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="DEX" class="bg-border">
        <div class="stat-name">Dexterity</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="CON" class="bg-border">
        <div class="stat-name">Constitution</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="INT" class="bg-border">
        <div class="stat-name">Intelligence</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="WIS" class="bg-border">
        <div class="stat-name">Wisdom</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="CHA" class="bg-border">
        <div class="stat-name">Charisma</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
    </div>
  </section>

  <section id="savingThrowSection">
    <h2>Saving Throws</h2>
    <div class="stats-grid" id="savingThrowGrid">
      <div name="STR" class="bg-border">
        <div class="stat-name">Strength</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="DEX" class="bg-border">
        <div class="stat-name">Dexterity</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="CON" class="bg-border">
        <div class="stat-name">Constitution</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="INT" class="bg-border">
        <div class="stat-name">Intelligence</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="WIS" class="bg-border">
        <div class="stat-name">Wisdom</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
      <div name="CHA" class="bg-border">
        <div class="stat-name">Charisma</div>
        <div class="stat-mod">-</div>
        <div class="stat-base">-</div>
      </div>
    </div>
  </section>

  <section id="skillSection">
    <h2>Skills</h2>
    <div id="skillGrid" class="skill-grid">
      <div name="acrobatics" class="bg-border">
        <div class="skill-name">Acrobatics</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="animalHandling" class="bg-border">
        <div class="skill-name">Animal Handling</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="arcana" class="bg-border">
        <div class="skill-name">Arcana</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="athletics" class="bg-border">
        <div class="skill-name">Athletics</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="deception" class="bg-border">
        <div class="skill-name">Deception</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="history" class="bg-border">
        <div class="skill-name">History</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="insight" class="bg-border">
        <div class="skill-name">Insight</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="intimidation" class="bg-border">
        <div class="skill-name">Intimidation</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="investigation" class="bg-border">
        <div class="skill-name">Investigation</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="medicine" class="bg-border">
        <div class="skill-name">Medicine</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="nature" class="bg-border">
        <div class="skill-name">Nature</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="perception" class="bg-border">
        <div class="skill-name">Perception</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="performance" class="bg-border">
        <div class="skill-name">Performance</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="persuasion" class="bg-border">
        <div class="skill-name">Persuasion</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="religion" class="bg-border">
        <div class="skill-name">Religion</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="sleightOfHand" class="bg-border">
        <div class="skill-name">Sleight of Hand</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="stealth" class="bg-border">
        <div class="skill-name">Stealth</div>
        <div class="skill-mod">-</div>
      </div>
      <div name="survival" class="bg-border">
        <div class="skill-name">Survival</div>
        <div class="skill-mod">-</div>
      </div>
    </div>
  </section>

  <section id="actionSection">
    <h2>Actions</h2>
    <div id="actionsList"></div>
    <h3>Bonus Actions</h3>
    <div id="bonusActionsList"></div>
  </section>

  <section id="spellsSection">
    <h2>Spells</h2>
    <div id="spellsList"></div>
  </section>

  <!-- 🔥 JS MOVED OUT -->
  <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>